@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYA.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}
html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  color: #ded4b9;
}
html body * {
  box-sizing: border-box;
}
html body .disabled {
  pointer-events: none;
}
html ::selection {
  background: #777;
  color: #777;
}
.rvk .rocks {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 3;
  max-width: 1440px;
  min-width: 789px;
  margin: 0 auto;
  padding: 0 80px;
  transition: left 0.75s cubic-bezier(0.75, 0, 0.25, 1);
  -webkit-transition: left 0.75s cubic-bezier(0.75, 0, 0.25, 1);
}
.rvk .rocks.on {
  left: 360px;
}
.rvk .rocks h2 {
  max-width: 765px;
  height: 3rem;
  margin: 0 0 0.15rem;
  padding: 0;
  opacity: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: 1px;
  text-align: left;
}
.rvk .rocks h2.show {

  opacity: 1;
  transition: opacity 3s 0s;
  -webkit-transition: opacity 3s 0s;
}
.rvk .rocks h1 {
  max-width: 765px;
  margin: 0 0 1rem;
  padding: 0;
  opacity: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 120px;
  line-height: 142.8px;
  letter-spacing: -5px;
  text-transform: uppercase;
  text-align: left;
}
.rvk .rocks h1.show {
  opacity: 1;
  transition: opacity 3s 0s;
  -webkit-transition: opacity 3s 0s;
}
.rvk .rocks p {
  max-width: 632px;
  margin: 0 0 48px 9px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 2rem;
  letter-spacing: 0px;
  opacity: 0;
}
.rvk .rocks p.show {
  opacity: 1;
  transition: opacity 3s 1.5s;
  -webkit-transition: opacity 3s 1.5s;
}
.rvk .rocks button {
  display: inline-block;
  position: relative;
  width: auto;
  height: 77px;
  margin: 0;
  padding: 0 39px;
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0px;
  text-transform: uppercase;
  background: none;
  color: #ded4b9;
  opacity: 0;
  border: solid 2px #ded4b9;
  outline: none;
  cursor: pointer;
}
.rvk .rocks button.show {
  opacity: 1;
  transition: opacity 2s 2.5s, color 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  -webkit-transition: opacity 2s 2.5s, color 0.5s cubic-bezier(0.75, 0, 0.25, 1);
}
.rvk .rocks button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0.01%;
  height: 100%;
  background: #ded4b9;
  transition: width 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  -webkit-transition: width 0.5s cubic-bezier(0.75, 0, 0.25, 1);
}
.rvk .rocks button:hover,
.rvk .rocks button.on {
  color: #000;
}
.rvk .rocks button:hover:before,
.rvk .rocks button.on:before {
  width: 100%;
}
.rvk .rocks button.on {
  pointer-events: none;
}
.rvk .rocks button:first-of-type {
  margin-left: 9px;
}
.rvk .rocks button:last-of-type {
  border-left: none;
}
.rvk .info {
  position: absolute;
  top: 0;
  left: -360px;
  z-index: 3;
  width: 360px;
  height: 100%;
  background: #f7f3e8;
  color: #111;
  transition: left 0.75s cubic-bezier(0.6, 0, 0.25, 1);
  -webkit-transition: left 0.75s cubic-bezier(0.6, 0, 0.25, 1);
}
.rvk .info > i {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 15px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s 1.2s;
  -webkit-transition: opacity 0.5s 1.2s;
}
.rvk .info > i span {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
}
.rvk .info > i span:before,
.rvk .info > i span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1px;
  background: #111;
}
.rvk .info > i span:before {
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
}
.rvk .info > i span:after {
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
}
.rvk .info > div {
  position: absolute;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  padding: 40px;
  transition: top 0.75s cubic-bezier(0.75, 0, 0.25, 1);
  -webkit-transition: top 0.75s cubic-bezier(0.75, 0, 0.25, 1);
}
.rvk .info > div p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.75px;
  letter-spacing: 0px;
  margin: 0 0 16px;
}
.rvk .info > div p strong {
  font-weight: 700;
}
.rvk .info > div h3 {
  margin: 18px 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0px;
}
.rvk .info > div a {
  position: relative;
  color: #000;
  text-decoration: none;
}
.rvk .info > div a i {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
}
.rvk .info > div a i:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0.001%;
  height: 100%;
  transition: width 0s, background 0.5s;
  -webkit-transition: width 0s, background 0.5s;
}
.rvk .info > div a i:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.001%;
  height: 100%;
  background: #000;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
.rvk .info > div a:hover i:before {
  width: 100%;
  background: #000;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
.rvk .info > div a:hover i:after {
  width: 100%;
  background: transparent;
  transition: background 0s;
  -webkit-transition: background 0s;
}
.rvk .info > div.on {
  top: 50%;
  transition: top 1.25s cubic-bezier(0.75, 0, 0.25, 1);
  -webkit-transition: top 1.25s cubic-bezier(0.75, 0, 0.25, 1);
}
.rvk .info.on {
  left: 0;
}
.rvk .info.on > i {
  opacity: 1;
}
.rvk .cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: opacity 4s;
  -webkit-transition: opacity 4s;
}
.rvk .cover.on {
  opacity: 0.6;
}
.rvk .cover.off {
  display: none;
}
.rvk .tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('../img/cover1.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  transition: left 0.75s cubic-bezier(0.6, 0, 0.25, 1);
  -webkit-transition: left 0.75s cubic-bezier(0.6, 0, 0.25, 1);
}
.rvk .tv.on {
  left: 360px;
  transition: left 2s;
  -webkit-transition: left 2s;

}
.rvk .tv .screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  opacity: 0;
  transition: opacity 5s;
  -webkit-transition: opacity 5s;
}
.rvk .tv .screen.on {
  opacity: 1;
}
.rvk .tv .screen.off {
  display: none;
}
iframe {
  display: block;       /* iframes are inline by default */
  background: #000;
  border: none;         /* Reset default border */
  height: 120vh;        /* Viewport-relative units */
  width: 100vw; 
  top:-1vw;
  left: 0px;
  position: absolute;
}
@media (max-width: 1280px) {
  iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    visibility: visible;
    background: #000;
  }

}

@media (max-width: 1024px) {
  .rvk .rocks {
    padding: 0 40px;
  }
  .rvk .rocks.on {
    left: 288px;
  }
  .rvk .rocks h2 {
    width: 100%;
    height: 8rem;
  }
  .rvk .rocks h1 {
    max-width: 620px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 96px;
    line-height: 114.24px;
    letter-spacing: -4px;
    margin: 0 0 20px;
  }
  .rvk .rocks p {
    max-width: 520px;
    margin: 0 0 25px 2px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.9rem;
    letter-spacing: 0px;
  }
  .rvk .rocks button {
    height: 62px;
    padding: 0 32px;
    font-size: 16px;
  }
  .rvk .rocks button:first-child {
    margin-left: 7px;
  }
  .rvk .info {
    left: -288px;
    width: 288px;
  }
  .rvk .info > div p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1.5rem;
    letter-spacing: 0px;
    margin: 0 0 12px;
  }
  .rvk .info > div h3 {
    margin: 14px 0;
    font-size: 19px;
  }
  .rvk .tv.on {
    left: 288px;
  }

  iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    visibility: visible;
    background: #000;
  }
}
@media (max-width: 680px) {
  .rvk .rocks {
    max-width: inherit;
    min-width: inherit;
    top: 45%;
  }

  .rvk .rocks h2 {
    width: 100%;
    height: 8rem;
  }
  .rvk .rocks h1 {
    max-width: inherit;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 4.2rem;
    line-height: 4.7rem;
    letter-spacing: -2px;
    margin-top: 6rem;
  }
  .rvk .rocks p {
    max-width: 75%;
    margin-bottom: 32px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: 0px;
  }
  .rvk .rocks button {
    height: 49px;
    padding: 0 25px;
    font-size: 13px;
  }


  .rvk .info.on {
      width:100%;
  }
  .rvk .info > div.on {
    top: 50%;

  }
  iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    visibility: visible;
    background: #000;
  }
}
@media (max-width: 900px) and (max-height: 420px) {
  .rvk .rocks h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 4.6rem;
    line-height: 4.6rem;
    letter-spacing: -1px;
  }
  .rvk .rocks p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0px;
  }
  .rvk .info {
    left: -248px;
    width: 248px;
  }
  .rvk .info > div p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 9px;
    line-height: 12.6px;
    letter-spacing: 0px;
    margin: 0 0 9px;
  }
  .rvk .info > div h3 {
    margin: 8px 0;
    font-size: 13px;
  }
  .rvk .tv.on {
    left: 248px;
  }
  iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    visibility: visible;
    background: #000;
  }
}
@media (max-width: 380px) {
  .rvk .rocks {
    min-width: 320px;
  }
  .rvk .rocks p {
    max-width: inherit;
  }

}
@media (max-width: 340px) {
  .rvk .rocks {
    padding: 0 20px;
  }
}
@media (max-width: 320px) and (max-height: 570px) {
  .rvk .rocks h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 47.6px;
    letter-spacing: -1px;
  }
  .rvk .rocks p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 15.4px;
    letter-spacing: 0px;
  }
  .rvk .info {
    left: -248px;
    width: 248px;
  }
  .rvk .info > div p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 9px;
    line-height: 12.6px;
    letter-spacing: 0px;
    margin: 0 0 9px;
  }
  .rvk .info > div h3 {
    margin: 8px 0;
    font-size: 13px;
  }
  .rvk .tv.on {
    left: 248px;
  }
}